*{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.clearfix:after,
.clearfix:before{
    display: table;
    content: '';
}
.clearfix:after{
    clear: both;
}
.promo {
     background: black;
     color:white;
     display: flex;
     justify-content: center;
     align-items: center;
     max-width: 80%;
     height: 65px;
     font-size: 25px ;
 }
.promo_bar {
    text-align: center;
    width: 100%;
    padding-left: 30px;
}
.cross{
    text-align: center;
    padding-right: 30px;
}
.header_block{
    background:url("../img/man_layer.png") no-repeat, url("../img/man.png")  center/cover no-repeat;
    height: 900px;
    max-width: 100%;

}
.navigation-block{
    background: rgba(130, 182, 224, 0.73);
    max-width: 100%;
    max-height: 85px;
}
.logo{
    float: left;
    padding: 10px 10px 10px 100px;
    border-right: 2px solid black;
}
.usa{
    float: left;
    padding: 20px;
}
.nav_menu{
    float: left;
    display: inline-block;
}
.nav_menu ul li{
    display: inline ;
}
.nav_menu ul li a{
    text-align: center;
    text-decoration: none;
    color: white;
}
.shoping{
    float: right;
    display: inline-block;
}
.sweat_block{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 825px;
}

.sweat_block h1{
    font-family: Brushstrike ;
    font-size: 130px;
    color: white;
    text-decoration: none;
}
.sweat_block h2{
    font-family: BebasNeue_Book;
    color: white;
    font-size: 40px;
}
.carets{
    align-self: flex-end;
}